body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: lightgrey;
  }
  
  

  
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  
  ]
  
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #1D1E18;
  }
  
  
  
  
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
  
  

  
  .footer {
    padding-top: 1.5rem;
    color: #6B8F71;
    border-top: .05rem solid #1D1E18;
  }
  
  

  
  @media (min-width: 48em) {
    .container {
      max-width: 73rem;
    }
  }
  
  .container-narrow>hr {
    margin: 2rem 0;
  }
  
  h4.card-header {
    font-family: 'Palanquin Dark', sans-serif;
    color: #6B8F71;
  }
  
  p.card-text {
    font-family: 'Palanquin Dark', sans-serif;
    color: #D9FFF5;
  }
  
  a.btn.btn-primary:hover {
    color: #B9F5D9;
    transform: translateY(-4px);
    box-shadow: 0 7px 14px #1D1E18, 0 3px 6px #AAD2BA;
  }
  
  a.btn.btn-primary--default {
    color: #6B8F71;
    background: #AAD2BA;
  }
  
  
 
  
  h1.display-3 {
    font-family: 'Palanquin Dark', sans-serif;
    color: #AAD2BA;
  }
  
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid #D9FFF5;
   
  }
  
  div.jumbotron {
    background: #B9F5D8;
  }
  
  a.btn.btn-lg.btn-success {
    color: #AAD2BA;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px #6B8F71;
  }
  
  a.btn.btn-lg.btn-success {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    background: #6B8F71;
    border-radius: 4px;
    border-color: #D9FFF5;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #AAD2BA;
    text-decoration: none;
    transition: all .15s ease;
  }
  
  a.nav-link.active,
  .nav-pills .nav-link.active {
    color: #d9fff5;
    background-color: #6B8F71;
  }
  
  
  }
  
  }
  .jumboheader {
    color: #1D1E18;
  }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  .btn-primary {
    color: #D9FFF5;
    background-color: #6B8F71;
    border-color: #B9F5D8;
  }
  .btn-primary:hover {
    color: #D9FFF5;
    background-color: #6B8F71;
    border-color: #B9F5D8;
  }
  
  
  .marketing {
    margin: 3rem 0;
  }
  .marketing p+h4 {
    margin-top: 1.5rem;
  }
  

  @media screen and (min-width: 48em) {
 \
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
   
    .header {
      margin-bottom: 2rem;
    }
    
    .jumbotron {
      border-bottom: 0;
    }
  }